<header>
  <a href="index.html">
    <picture>
      <source
        srcset="
          ./images/logo/logo-mobile.png    1x,
          ./images/logo/logo-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/logo/logo-tablet.png    1x,
          ./images/logo/logo-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/logo/logo-tablet.png     1x,
          ./images/logo/logo-desktop@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="header__logo"
        src="./images/logo/logo-mobile.png"
        alt="logo"
      />
    </picture>
  </a>
  <include src="./partials/navigation.html"></include>
  <svg width="20 " height="12">
    <use href="./images/icons.svg#icon-menu"></use>
  </svg>
</header>
