<section>
  <div>
    <include src="./partials/header.html"></include>
    <h1>Donut masterclass with the donut king</h1>
    <h2>Hosted by Eva Green</h2>
    <a href="">Register</a>
    <ul>
      <li>
        <svg width="20 " height="12">
          <use href="./images/icons.svg#icon-twitter"></use>
        </svg>
      </li>
      <li>
        <svg width="20 " height="12">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </li>
      <li>
        <svg width="20 " height="12">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
